<form class="form container">
  <div class="container-fluid">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Client Name</th>
          <th scope="col">Advertisement Details</th>          
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- | searchAdvtDetails: _searchTerm  -->
        <tr *ngFor="
            let advt of (users | paginate: { itemsPerPage: 4, currentPage: p })
          " (click)="onItemClick(a)">
          <td>{{ advt.client_name }}</td>
          <td>{{ advt.advt_details }}</td>
          <label class="container"  (change)="approveAdvrt(advt)" *ngIf="advt.editable"> {{advt.status ? 'Approved':'UnApproved'}}
            <input type="checkbox" #chkRef name="status" [(ngModel)]="advt.status">
            <span class="checkmark"></span>
          </label>
          <button type="button" class="btn btn-primary" [routerLink]="['/client-dashboard','view-details',advt.advt_id]">View</button>
          <label *ngIf="!advt.editable">
            Published
          </label>
        </tr>
      </tbody>
    </table>

    <div class="page">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>

  <router-outlet></router-outlet>
</form>