.genderList {
    list-style: none;
  }

  .form-group {
    font-size: 80%;
  }
  
  .h2 {
    font-size: 170%;
  }
  
  .header {
    text-align: center;
  }
  .container-fluid {
    padding-top: 100px;
    /* margin-left: 250px; */
  }
  
  .modal {
    text-align: center;
  }
  
  @media screen and (min-width: 768px) { 
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
 