<!DOCTYPE html>
<html>
  <head>
    <title>Advertisement Publish</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <!-- <link rel="stylesheet" href="assets/css/main.css" /> -->
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="index.html" class="logo">Advertisement Publish</a>
        <nav id="nav">
          <a href="#" class="link">Home</a>
          <a href="#" class="link">Contact Us</a>
          <a href="#" class="link">About Us</a>
          <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
              <i class="fa fa-user"></i> {{ firstname + ' ' + lastname }} <b class="caret"></b>
          </a>
        </nav>
      </div>
    </header>
    
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
  </body>
</html>
