
<!-- Header -->
<header id="header">
    <a class="navPanelToggle" (click)="toggleSideBar()"
    ><span class="fa fa-bars"></span
  ></a>
  <div class="inner">
    <a href="index.html" class="logo">Magic Deals</a>
    <nav id="nav">
      <a href="#" class="link">Contact Us</a>
      <a href="#" class="link">About Us</a>
    </nav>
    <div class="dropdown" style="display:inline-block">
        <button class="dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ firstname + " " + lastname }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="#" routerLink="/login">Logout</a>
          </div>
    </div>
  </div>
</header>
