.link {
  color: blue;
}

.dropdown-btn {
  padding: 2px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.dropdown-container a:hover {
  background-color: none;
  color: none;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

#header {
  z-index: 1000 !important;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
