<form class="form container">
  <div class="container-fluid">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">FIRSTNAME</th>
        <th scope="col">LASTNAME</th>
        <th scope="col">MOBILE NUMBER</th>
        <th scope="col">ACTIONS</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let person of persons; let i= index">
          <tr *ngFor="let person of persons | paginate: {itemsPerPage:4, currentPage:p}; let i= index">
        <td>{{person.firstname}}</td>
        <td>{{person.lastname}}</td>
        <td>{{person.mobile_number1}}</td>

        <button type="button" class="btn btn-primary" [routerLink]="['/super-admin-dashboard','edit-person-details',person.person_id]">
          Edit
        </button>
        <button type="button" class="btn btn-danger" >Delete</button>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-info btn-md" routerLink="../add-person">Add new person </button>
  <div class="page">
    <pagination-controls (pageChange)="p =$event"></pagination-controls>
  </div>

<div>
<router-outlet></router-outlet>
</div>


