.genderList {
    list-style: none;
  }
  
  .form-group {
    font-size: 80%;
  }
  
  .h2 {
    font-size: 170%;
  }
  
  .header {
    text-align: center;
  }
  .container-fluid {
    padding-top: 100px;
  }
  