<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

   <div id="wrapper" >
        <!-- Sidebar -->

        <div class="sidenav" style="padding-top: 110px;">
            <button class="dropdown-btn" (click)="openDropdown($event)" >Person Details 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
              <a href="#" routerLink="/admin-dashboard/add-person" appToggler>Add Person Details</a>
              <a href="#" routerLink="/admin-dashboard/person-list" appToggler>View Person List</a>
              <!-- <a href="#">Link 3</a> -->
            </div>

            <button class="dropdown-btn" (click)="openDropdown($event)">Advertisement Details 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
                <a href="#" routerLink="/admin-dashboard/advt-details" appToggler>Add Advertisement</a>
                <a href="#" routerLink="/admin-dashboard/advt-details-list" appToggler>View Advertisement List</a>
                <!-- <a href="#">Link 3</a> -->
              </div>

              <button class="dropdown-btn" (click)="openDropdown($event)" appToggler>Publish Details 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
                <a href="#" routerLink="/super-admin-dashboard/advertise-publish" appToggler>Add Advertise</a>
                <!-- <a href="#" routerLink="/super-admin-dashboard/view-publish">View Advertise List</a> -->
                <!-- <a href="#">Link 3</a> -->
              </div>

          </div>


    </div>
    <!-- /#wrapper -->
     <!-- Menu Toggle Script -->
    