<form class="form container" #publishDetails="ngForm" (ngSubmit)="onSubmit(publishDetails.value)">
  <div class="container-fluid">
    <h1>Magic Deals</h1>

    <!-- Client Name -->
    <div class="form-group">
      <label>ClientName</label>
      <select [disabled]="advt_record.status == 'published'" id="client_id" [(ngModel)]="advt_record.client_id"
        (change)="selectClientName()" name="client_id" class="form-control">
        <option [ngValue]="client.client_id" *ngFor=" let client of clients">
          {{client.client_name}}
        </option>
      </select>
    </div>

    <!-- Address -->

    <div class="form-group">
      <label class="control-label" for="Country">Country:</label>
      <select *ngIf="getCountries()" [disabled]="advt_record.status == 'published'" [(ngModel)]="advt_record.country_id"
        name="country_id" (change)="onSelectCountry($event.target.value)" class="form-control input-lg" id="country"
        #countryName="ngModel" [ngClass]="{ 'is-invalid': publishDetails.submitted && countryName.invalid }" required>
        <option value="0">Select Country</option>
        <option *ngFor="let country of getCountries()" value="{{ country.country_id }}">{{ country.country_name }}
        </option>
        <div *ngIf="publishDetails.submitted && countryName.invalid" class="invalid-feedback">
          <div *ngIf="countryName.errors.required">Country Name is required</div>
        </div>
      </select>
    </div>

    <div class="form-group">
      <label class="control-label" for="States">States:</label>
      <select [(ngModel)]="advt_record.state_id" [disabled]="advt_record.status == 'published'" name="state_id"
        (change)="onSelectState($event.target.value)" class="form-control input-lg" id="state" #stateName="ngModel"
        [ngClass]="{ 'is-invalid': publishDetails.submitted && stateName.invalid }" required>
        <option>Select State</option>
        <option *ngFor="let state of states" value="{{ state.state_id }}">{{
          state.statename
        }}</option>
        <div *ngIf="publishDetails.submitted && stateName.invalid" class="invalid-feedback">
          <div *ngIf="stateName.errors.required">State Name is required</div>
        </div>
      </select>
    </div>

    <div class="form-group">
      <label class="control-label" for="City">City:</label>
      <select class="form-control input-lg" id="city" [disabled]="advt_record.status == 'published'"
        [(ngModel)]="advt_record.city_id" name="city_id" (change)="onSelectCity($event.target.value)"
        #cityName="ngModel" [ngClass]="{ 'is-invalid': publishDetails.submitted && cityName.invalid }" required>
        <option *ngFor="let city of cities" value="{{ city.city_id }}">{{
          city.cityname
        }}</option>
        <div *ngIf="publishDetails.submitted && cityName.invalid" class="invalid-feedback">
          <div *ngIf="cityName.errors.required">City Name is required</div>
        </div>
      </select>
    </div>

    <!--Location-->
    <div class="form-group">
      <label class="control-label" for="City">Location:</label>
      <ng-select class="input-lg" [disabled]="advt_record.status == 'published'"
        [(ngModel)]="advt_record.location_id" #location_id="ngModel" id="location" name="location_ids"
        (change)="selectLocation()" #locationName="ngModel" [items]="locations" [multiple]="true" bindLabel="location_name" 
        bindValue="location_id" required >
      </ng-select>
    </div>

    <!--Block ID-->
    <div class="form-group">
      <label>Block</label>
      <ng-select id="block_id" [disabled]="advt_record.status == 'published'" [(ngModel)]="advt_record.block_id"
        name="block_ids" #blockName="ngModel" [items]="blocks" [multiple]="true" 
        bindLabel="blockname" bindValue="block_id" required>
        <!-- <option [ngValue]="block.block_id" *ngFor="let block of blocks">
          {{ block.blockname }}
        </option>
        <div *ngIf="publishDetails.submitted && blockName.invalid" class="invalid-feedback">
          <div *ngIf="blockName.errors.required">Block Name is required</div>
        </div> -->
      </ng-select>
    </div>

     <!-- Message Type Selection --> 
     <div class="form-group">
        <label for="" class="label-control">Select Your choice:</label>
        <ng-select class="custom" name="type" [items]="types" [multiple]="true" [(ngModel)]="selectedTypes"></ng-select>
      </div>


    <!-- Advertisement Subject -->
    <div class="form-group" *ngIf = "selectedTypes.includes('email')">
      <label class="label-control">Advertisement Subject:</label>
      <input type="text" name="advt_subject" [disabled]="advt_record.status == 'published'" id="advt_subject"
         required [(ngModel)]="advt_record.advt_subject" #AdvtSubjects="ngModel"
        class="form-control">
      <div *ngIf="AdvtSubjects.errors && (AdvtSubjects.dirty||  AdvtSubjects.touched)" class="text-danger">
        <div [hidden]="!AdvtSubjects.hasError('required')"> Advertisement subject required</div>
      </div>
    </div>

    <!-- Advertisment Details -->
    <div class="form-group" *ngIf="selectedTypes.includes('message') || selectedTypes.includes('email')">
      <label class="label-control">Advertisement Details:</label>
      <textarea type="text" name="advt_details" [disabled]="advt_record.status == 'published'" id="advt_details"
         required [(ngModel)]="advt_record.advt_details" #AdvtDetails="ngModel"
        class="form-control"></textarea>
      <div *ngIf="AdvtDetails.errors && (AdvtDetails.dirty||  AdvtDetails.touched)" class="text-danger">
        <div [hidden]="!AdvtDetails.hasError('required')"> Advertisement details required</div>
      </div>
    </div>

     <!-- Select what you want to upload a file or recorded one -->
     <div class="form-group" *ngIf= "selectedTypes.includes('voice')"> 
        <label for="" class="label-control">Select your choice: </label>
        <select name="voiceType" [(ngModel)]="voiceType">
          <option value="1" selected>Voice file upload</option>
          <option value="2">Record Your Voice</option>
        </select>
      </div>

    <!-- File Upload -->
    <div class="form-group" *ngIf="selectedTypes.includes('voice') && voiceType==1">
      <label for="" class="label-control" >Select Mp3 voice file :</label>
      <br>
      <input type="file" accept=".mp3,audio/*" placeholder="Select your audio file" />
    </div>
    
    <!-- audio recording -->
    <div class="form-group" *ngIf = "selectedTypes.includes('voice') && voiceType==2">
      <label for="" class="label-control">Record Your Message :</label>
      <div>
        <button class="start-button" *ngIf="advt_record.status != 'published' && !isRecording && !blobUrl" (click)="startRecording()">Start Recording</button>
        <button class="stop-button" *ngIf="advt_record.status != 'published' && isRecording && !blobUrl" (click)="stopRecording()">Stop Recording</button>
        <button class="cancel-button" *ngIf="advt_record.status != 'published' && !isRecording && blobUrl" (click)="clearRecordedData()">Clear
          Recording</button>
        <div *ngIf="isRecording && !blobUrl"> {{recordedTime}} </div>
        <div>
          <audio *ngIf="!isRecording && blobUrl" controls>
            <source [src]="blobUrl" type="audio/webm">
          </audio>
          <audio controls *ngIf="!blobUrl && advt_record.voiceFile">
            <source [src]="FILE_URN+advt_record.voiceFile" type="audio/ogg">
            <!-- <source src="horse.mp3" type="audio/mpeg"> -->
          Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>

    <!-- publish date from to -->
    <div class="form-group" *ngFor="let publish_date of publish_dates;let i = index;">
      <label class="label-control">Publish Date:</label>
      <input class="form-control" [disabled]="advt_record.status == 'published'" type="date" 
      name="{{'publish_date'+i}}"
        [(ngModel)]="publish_date.publish_date" #publishDate="ngModel">
        <label class="label-control">From Time:</label>
        <input type="time" name="{{'ftime'+i}}" [(ngModel)]="publish_date.from_publish_time"/>
        <label class="label-control">To Time:</label>
        <input type="time" name="{{'ttime'+i}}" [(ngModel)]="publish_date.to_publish_time"/>
        <button type="button" class="btn btn-danger" (click)="removePubDate(i)">Remove</button>
    </div>

   <button type="button" (click)="addPubDate()">Add Publish Date</button>

    <!--Age From-->
    <div class="form-group">
      <label class="label-control">Age From:</label>
      <input type="text" name="age_from" [disabled]="advt_record.status == 'published'" class="form-control"
        value="age_from" id="age_from" [(ngModel)]="advt_record.age_from" (change)="fromDate(age_from.value)"
        minlength="2" maxlength="3" (keypress)="keyPress($event)" #ageFrom="ngModel" required>
    </div>

    <!-- To age-->
    <div class="form-group">
      <label class="label-control">Age To:</label>
      <input type="text" name="age_to" [disabled]="advt_record.status == 'published'" id="age_to" value="age_to"
        class="form-control" (change)="checkPrice()" [(ngModel)]="advt_record.age_to" minlength="2" maxlength="3"
        (keypress)="keyPress($event)" #ageTo="ngModel" required>
    </div>


    <button type="submit" class="btn btn-primary" *ngIf="advt_record.status != 'published'">submit</button>
  </div>
</form>