
   <div id="wrapper" >
        <!-- Sidebar -->
        <div class="sidenav" style="padding-top: 110px;">
          <button style="display:block;width:100%;"
          appToggler
          routerLink="/super-admin-dashboard/master-details"
          *ngIf="role != 'client'">Master Details            
          </button>          
            <button class="dropdown-btn" (click)="openDropdown($event)" *ngIf="role != 'client'">Person Details 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container" *ngIf="role != 'client'">
              <a href="#" appToggler routerLink="/super-admin-dashboard/add-person">Add Person Details</a>
              <a href="#" appToggler routerLink="/super-admin-dashboard/person-list">View Person List</a>
              <!-- <a href="#">Link 3</a> -->
            </div>

            <button  *ngIf="role == 'client'" appToggler style="display:block;width:100%;" [routerLink]="['/client-dashboard/profile/client']">Profile</button>

            <button class="dropdown-btn" (click)="openDropdown($event)">Advertisement Details 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
                <a appToggler routerLink="/super-admin-dashboard/advt-details" *ngIf="role != 'client'">Add Advertisement</a>
                <a appToggler routerLink="/super-admin-dashboard/advt-details-list" *ngIf="role != 'client'">View Advertisement List</a>
                <a appToggler routerLink="/client-dashboard/advt-details-list" *ngIf="role == 'client'">View Advertisement List</a>
                <!-- <a href="#">Link 3</a> -->
              </div>


              <button class="dropdown-btn" (click)="openDropdown($event)" *ngIf="role != 'client'">Client Details 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                  <a appToggler routerLink="/super-admin-dashboard/add-client">Add Client</a>
                  <a  appToggler routerLink="/super-admin-dashboard/client-list">View Client List</a>
                  <!-- <a href="#">Link 3</a> -->
                </div>

          </div>    
    </div>
    