.genderList {
  list-style: none;
}

.form-group {
  font-size: 80%;
}

.h2 {
  font-size: 170%;
}

.header {
  text-align: center;
}
.container-fluid {
  width: 70%;
  padding-top: 100px;
  // margin-left: 250px;
}

.input-lg,
.form-group-lg .form-control {
  padding: 0px 1px 1px 10px;
}
