<form class="form container" #personForm="ngForm">
  <div class="container-fluid">
    <h2>Publish Your Advertisement</h2>

    <!-- Select gender -->
    <div class="form-group">
      <label for="gender" class="control-label"
        >Send Messages To Male, Female or Both</label
      >
      <select
        placeholder="Select Gender"
        name="gender"
        [(ngModel)]="genderModel.gender"
        (change)="getValue($event)"
        #gender="ngModel"
        class="form-control input-lg"
        [ngClass]="{ 'is-invalid': personForm.submitted && gender.invalid }"
        required
      > <i class="fa fa-caret"></i>
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
      </select>
    </div>

    <!-- Add Message -->
    <div class="form-group">
      <label class="label-control">Write Your Message :</label>
      <textarea
        type="text"
        name="advt_details"
        id="advt_details"
        required
        [(ngModel)]="textMessage"
        #Message="ngModel"
        class="form-control"
      ></textarea>
      <div
        *ngIf="Message.errors && (Message.dirty || Message.touched)"
        class="text-danger"
      >
        <div [hidden]="!Message.hasError('required')">
          message details required
        </div>
      </div>
    </div>

    <!-- Submit your data -->

    <div class="form-group">
      <input
        type="button"
        data-dismiss="modal"
        style="display:none"
        #dismissBtn
      />
      <input
        value="SUBMIT"
        class=" btn btn-primary"
        type="submit"
        (click)="publishDetails($event, Message.value)" />
    </div>
  </div>
</form>
